body{
    overflow: hidden;
}

.main {
    display: relative;
}

.main img{
    width: 500px;
    height: 500px;
}

.hidden_img{
    display: none;
}

.start_button_click_area{
    background-color: rgba(255, 0, 0, 0);
    height: 80px;
    width: 80px;
    position: absolute;
    top: 71%;
    left: 49.85%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 50px;
    cursor: pointer;
}

.letter_click_area{
    background-color: rgba(255, 0, 0, 0);
    height: 40px;
    width: 138px;
    position: absolute;
    top: 60%;
    left: 49.85%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
}

.show_img{
    position: absolute;
    top: 70%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.envelope{
    z-index: 1;
}
.overlay_env{
    z-index: 6;
}
.open_let_noclick{
    z-index: 5;
}
.open_let_click{
    z-index: 7;
}

@keyframes moveUp {
    0% {
        transform: translate(-50%, 33%); /* Posição inicial relativa */
    }
    100% {
        transform: translate(-50%, -30%); /* Ajusta a posição final */
    }
}

/* Animação para descer e aumentar o tamanho */
@keyframes moveDownAndGrow {
    0% {
        transform: translate(-50%, -30%); /* A partir de onde moveUp terminou */
    }
    100% {
        transform: translate(-50%, -20%); /* Move o elemento para baixo */
        width: 1000px; /* Aumenta o tamanho */
        height: 1000px;
    }
}

/* Aplica a animação de subida */
.letter_click_up {
    animation: moveUp 2s forwards;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Aplica a animação de descer e aumentar o tamanho */
.letter_click_down {
    animation: moveDownAndGrow 2s forwards;
    animation-delay: 2s; /* Ajuste o delay para sincronizar com a animação de subida */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%); /* Ajusta a posição inicial */
}