.main {
    display: relative;

}

.main img{
    width: 500px;
    height: 500px;
}

.hidden{
    display: none;
}

.hidden_startButton{
    pointer-events: none;
}

.start_button_click_area{
    background-color: rgba(255, 0, 0, 0);
    height: 80px;
    width: 80px;
    position: absolute;
    top: 56%;
    left: 49.85%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 50px;
    cursor: pointer;
}

.show_img{
    position: absolute;
    top: 55%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.envelope{
    z-index: 1;
}
.overlay_env{
    z-index: 6;
}
.open_let_noclick{
    z-index: 5;
}
.open_let_click{
    z-index: 7;
}